<img src="/assets/all1.jpg" alt="sticker.img" class="all1">
<div class="container">
<h1>3 steps to get your stickers!</h1>
</br>
</br>
<div class="button_wrapper">

  <div class="box-2">
    <a href="/users/sign_up"><div class="btn btn-two">❶ Sign up</div></a>
  </div>
</div>
</br></br></br>
<div class="box-2">
    <a href="/profiles/new"><div class="btn btn-two">❷ Create your profile</div></a>
    <%#= link_to "Create your profile", new_profile_path%>
</div>
</br></br></br>
<div class="box-2">
  <div class="box-2">
      <a href="/products/new"><div class="btn btn-two">❸ Uplode your artwork!</div></a>
  </div>
</br>
</br>
</div>
</div>
