<img src="/assets/all1.jpg" alt="sticker.img" class="all1">

<div class="button_wrapper">

<div class="box-2">
  <div class="btn btn-two">
    <p>HOVER ME</p>
  </div>
</div>
</div>
</br>
<div class="box-2">
  <div class="btn btn-two">
    <p>HOVER ME2</p>
  </div>
</div>
</br>
<div class="box-2">
  <div class="btn btn-two">
    <p>HOVER ME3</p>
  </div>
</div>
