<img src="/assets/all1.jpg" alt="sticker.img" class="all1">


<p>3 steps to get your sticker!</p>
<div class="button_wrapper">

<div class="box-2">
  <div class="btn btn-two">
    <p>Sign in</p>
  </div>
</div>
</div>
</br>
<div class="box-2">
  <div class="btn btn-two">
    <p>Create your profile</p>
  </div>
</div>
</br>
<div class="box-2">
  <div class="btn btn-two">
    <p>Uplode your artwork!</p>
  </div>
</div>
