/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

 .all1{
   width:100%;
 }

 .star{
   color: rgb(255, 237, 0);
 }

 .gravatar{
width: 55%;
display: inline-block;

 }

* {
  text-shadow: 1px 1px 2px rgba(#808080, 0.71);
  font-family: 'Papyrus',sans-serif;
}

.container{
  text-align: center;
}

h2{
  font-family: 'Papyrus',sans-serif;
  text-align:center;
}

h1{
  font-family: 'Papyrus',sans-serif;
color: #ff9100;
text-align:center;
}

.logo{
  width:25%;
}

div[class*=box] {
    height: 33.33%;
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_wrapper{
   text-align:center;
}

.box-2 { background-color: #ff9100; }

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

/*
========================
      BUTTON TWO
========================
*/
.btn-two {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}
.btn-two span {
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
.btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
}
.btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0.1);
}
